@charset "utf-8";
/* CSS Document */

/* Basic styling for the image */
    .image-container {
        text-align: center;
        margin-top: 50px;
      }
  
      .image {
        width: 300px; /* Initial width of the image */
        transition: width 0.3s ease-in-out; /* Smooth transition effect when image resizes */
        cursor: pointer;
      }


        