@charset "utf-8";
/* CSS Document */


/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: beige;
    color: darkgrey;
    margin: 15pt;
}

/* Headings */
h1 {
    font-family: Georgia, serif;
    font-size: 24pt;
    color: green;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 20pt;
    color: blue;
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 16pt;
    color: indigo;
}

/* Paragraphs */
p {
    font-size: 12pt;
    color: #696969; /* Dim Grey */
}

/* Links */
a:link, a:visited {
    color: #8B0000; /* Dark Red */
    text-decoration: none;
}

a:hover {
    color: #FF6347; /* Tomato */
    text-decoration: underline;
}

a:active {
    color: #FF4500; /* OrangeRed */
}

/* CSS Table */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Divs */
div.text-section {
    padding: 10px;
    background-color: #e6e6fa; /* Lavender */
}

div.link-section {
    padding: 10px;
    background-color: #fafad2; /* Light Goldenrod Yellow */
}