@charset "utf-8";
/* CSS Document */


/* Body */
body {
    font-family: Arial;
    font-size: 12pt;
    background-color: beige;
    color: navy;
    margin: 15pt;
}

/* Headings */
h1 {
    font-family: Georgia, serif;
    font-size: 24pt;
    color: green;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 20pt;
    color: blue;
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 16pt;
    color: indigo;
}

/* Paragraphs */
p {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 12pt;
    color: lightslategray;
}

/* Links */
a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
    display: block;
    color: rgb(0, 119, 255);
    text-decoration: underline;
}

a:active {
    color: orangered;
}

/* CSS Table */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Divs */
div.text-section {
    padding: 10px;
    background-color: lavender;
}

div.link-section {
    padding: 10px;
    background-color: lightgoldenrodyellow;
}